In [1]:
from pyspark.sql import SparkSession

In [5]:
import findspark
findspark.init()

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Basics").getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import StructField, IntegerType, StringType, StructType

In [12]:
data_schema = [StructField('age', IntegerType(),True),
               StructField('name', StringType(), True)]

In [13]:
final_struct = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json', schema=final_struct)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
type(df['age'])

pyspark.sql.column.Column

In [17]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
spark

In [19]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [22]:
df.head(2)[0]

Row(age=None, name='Michael')

In [21]:
df.head()

Row(age=None, name='Michael')

In [23]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumn('doubleage', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [30]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [29]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.createOrReplaceTempView('people')

In [32]:
results = spark.sql("SELECT * FROM people")

In [34]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [36]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [37]:
spark.stop()